
// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices AD7768-1
 * https://www.analog.com/en/products/ad7768-1.html
 * https://wiki.analog.com/resources/tools-software/linux-build/generic/socfpga
 *
 * hdl_project: <ad77681evb/de10>
 * board_revision: <A>
 *
 * Copyright (C) 2020 Analog Devices Inc.
 */
/dts-v1/;
#include "socfpga_cyclone5_de10_nano.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>


/ {
	vref: regulator-vref {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <4096000>;
		regulator-max-microvolt = <4096000>;
		regulator-always-on;
	};

	clocks {
		sys_clk: sys_clk {
			#clock-cells = <0x0>;
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
			clock-output-names = "sys_clk";
		};

		dma_clk: dma_clk {
			#clock-cells = <0x0>;
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
			clock-output-names = "dma_clk";
		};

		spi_clk: spi_clk {
			#clock-cells = <0x0>;
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
			clock-output-names = "spi_clk";
		};

		ad7768_1_mclk: clock@0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <16384000>;
		};
	};
};

&i2c0 {
	clock-frequency = <100000>;
	ltc2606: ltc2606@0x10 {
		compatible = "adi,ltc2606";
		reg = <0x10>;
		vref-supply = <&vref>;
	};
};

&fpga_axi {
	gpio_in: gpio_in@0x00010100 {
		compatible = "altr,pio-18.1", "altr,pio-1.0";
		reg = <0x00010100 0x00000010>;
		altr,gpio-bank-width = <32>;
		altr,interrupt-type = <4>;
		altr,interrupt_type = <4>;
		level_trigger = <1>;
		resetvalue = <0>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	gpio_out: gpio_out@0x00109000 {
		compatible = "altr,pio-1.0";
		reg = <0x00109000 0x00000010>;
		altr,gpio-bank-width = <32>;
		resetvalue = <0>;
		#gpio-cells = <2>;
		gpio-controller;

		cn0540_blue_led{
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "cn0540_blue_led";
		};
		cn0540_red_led{
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "cn0540_red_led";
		};
		cn0540_sw_ff_gpio{
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "cn0540_sw_ff_gpio";
		};
		cn0540_shutdown_gpio{
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "cn0540_shutdown_gpio";
		};
	};

	axi_dmac_0: rx-dma@0x00020000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x00020000 0x00000800>;
		interrupt-parent = <&intc>;
		interrupts = <0 43 IRQ_TYPE_LEVEL_HIGH>;
		#dma-cells = <1>;
		clocks = <&dma_clk>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <32>;
				adi,source-bus-type = <1>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	axi_spi_engine: spi_engine@0x00028000 {
		compatible = "adi,axi-spi-engine-1.00.a";
		reg = <0x00028000 0x00008000>;
		interrupt-parent = <&intc>;
		interrupts = <0 44 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&sys_clk &spi_clk>;
		clock-names = "s_axi_aclk", "spi_clk";
		num-cs = <1>;

		#address-cells = <0x1>;
		#size-cells = <0x0>;

		ad7768_1: adc@0x0 {
			compatible = "adi,ad7768-1";
			reg = <0>;
			spi-max-frequency = <20000000>;
			spi-cpol;
			spi-cpha;
			vref-supply = <&vref>;
			adi,sync-in-gpios = <&gpio_in 1 GPIO_ACTIVE_LOW>;
			reset-gpios = <&gpio_out 0 GPIO_ACTIVE_LOW>;
			clocks = <&ad7768_1_mclk>;
			clock-names = "mclk";
			dmas = <&axi_dmac_0 0>;
			dma-names = "rx";
			#io-channel-cells = <1>;
		};
	};
};
